body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.display {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.button.operator {
    background-color: #ff9900;
}

.button.operator:hover {
    background-color: #ffad33;
}

.button.ac {
    background-color: #aaa;
}

.button.ac:hover {
    background-color: #ccc;
}

.button.zero {
    width: 140px;
}
